* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.intro-part-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: bisque;
}

.head-line {
    font-size: 80px;
    margin-bottom: 30px;
}

.text-part {
    line-height: 25px;
    margin-bottom: 30px;
}

.primary-btn {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(247, 58, 121);
    border: none;
    color: white;
}

.first-main-part {
    text-align: center;
    margin-top: 80px;
}

.medium-head {
    font-size: 40px;
    margin-bottom: 20px;
}

.second-main-part {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

.shape-one {
    height: 500px;
    width: 400px;
    background-color: #fde8ed;
}

.shape-two {
    height: 500px;
    width: 400px;
    background-color: #d5f0f5;
}

.shape-three {
    height: 500px;
    width: 400px;
    background-color: #dddddd;
}

.image-title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 170px;
}

.image-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.third-main-part {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(250, 216, 228);
    margin-bottom: 170px;
}

.medium-head-two {
    font-size: 40px;
    margin-bottom: 20px;
}

.red-text {
    color: red;
}

.deal-txt {
    text-align: center;
}

.fourth-main-part {
    text-align: center;
    margin-bottom: 50px;
}

.medium-head-fourth {
    font-size: 40px;
    margin-bottom: 20px;
}

.fifth-main-part {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 170px;
}





.sixth-main-part {
    padding: 250px;
    width: 1440px;
    height: 449px;
    background-image: url('./Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
}

.medium-head-sixth {
    font-size: 40px;
    margin-bottom: 20px;
}