* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* head part */
.intro-part-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
    /* background-repeat: no-repeat;
    background-size: cover; */
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}


.head-line {
    font-size: 80px;
    margin-bottom: 30px;
}

.text-part {
    line-height: 25px;
    margin-bottom: 30px;
}

.primary-btn {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(247, 58, 121);
    border: none;
    color: white;
}

/* main part starts */

.first-main-part {
    text-align: center;
    margin-top: 80px;
}

.medium-head {
    font-size: 40px;
    margin-bottom: 20px;
}

.second-main-part {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    gap: 30px;
    width: 80%;
    margin: auto;
}

/* image part */
.images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.image {
    width: 464px;
    height: 538px;

}

.png-6 {
    width: 330px;
    height: 450px;
    padding-top: 90px;
    margin-left: 60px;
}

.one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(192, 50, 119, 0.15);
    gap: 30px;
}

.png-5 {
    width: 380px;
    height: 450px;
    padding-top: 90px;
    margin-left: 60px;
}

.two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(151, 187, 206, 0.15);
}

.png-7 {
    width: 380px;
    height: 450px;
    padding-top: 90px;
    margin-left: 60px;
}

.three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 165, 165, 0.15);
}




/* image title part */
.image-title-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 90px;
}

.image-title {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.title-one {
    margin-left: 100px;
}

.title-two {
    margin-left: 10px;
}

.title-three {
    margin-right: 60px;
}


/* third main part start */
.third-main-part {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(250, 216, 228);
    margin-bottom: 170px;
    height: 620px;
    background-size: cover;

}

.medium-head-two {
    font-size: 40px;
    margin-bottom: 20px;
}

.red-text {
    color: red;
}

.deal-txt {
    text-align: center;
}




/* fourth main part starts */

.fourth-main-part {
    text-align: center;
    margin-bottom: 50px;
}

.medium-head-fourth {
    font-size: 40px;
    margin-bottom: 20px;
}

/* fifth main part start */

.fifth-main-part {
    display: flex;
    align-items: center;
    margin-left: 300px;
    gap: 20px;
    margin-bottom: 170px;
}




.sixth-main-part {

    background-image: url('./Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 449px;
    margin-bottom: 80px;
}

.medium-head-sixth {
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 90px;
}

/* .entry-part {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

#inp-mail {
    padding: 5px 10px;
    font-size: 20px;
    width: 700px;
    height: 45px;
    border-radius: 5px;
    border: none;
}


/* footer part begins */
.last-text {
    padding: 125px;
    margin-right: 100px;
    color: white;
    text-align: center;
}

.last-heading {
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 20px;
    color: white;
}

.clr-text {
    color: deeppink;
}

.last-bg {
    background-color: black;
}



.extra-task-one {
    text-align: center;
    margin-bottom: 50px;
}

.task-img {
    height: 500px;
    width: 500px;
}

.extra-task-two {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 120px;
    /* padding: 20px; */
    margin-right: 20px;
    margin-left: 30px;
}

.link-text {
    font-size: 22px;
}

.task-txt {
    text-align: center;
}

.again {
    text-align: justify;
}